<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="brand-container col-2">
            <a class="navbar-brand link-underline-animate" href="/">PARK LAB</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav">
            {% for item in site.data.navigation %}
                <li class="nav-item">
                    <a href="{{ item.link }}" class="p-0 nav-link link-underline-animate {% if page.url == item.link %}current{% endif %}">{{ item.name }}</a>
                    <span class="nav-item-disc"></span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>